<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="GrammarEdit" preserve-order="true">
      <!-- 
      <packages>
          <package name="testcases"></package>
      </packages>
      -->
      <classes>
          <!-- 
          <class name="testcases.TestRule"></class>
          -->
          <class name="testcases.TestLogin"></class>
          <class name="testcases.TestCorpus"></class>
          <class name="testcases.TestSearch"></class>
          <class name="testcases.TestCite"></class>
          <class name="testcases.TestRule"></class>
          <class name="testcases.TestSlot"></class>
          <class name="testcases.TestTemplate"></class>
          <class name="testcases.TestGrammar"></class>
          <class name="testcases.TestTest"></class>
          <class name="testcases.TestApp"></class>
      </classes>
  </test>
  <listeners>
      <listener class-name="utils.AllureReporterListener"></listener>
  </listeners>

</suite>